.contact-me {
    background-color: rgb(28, 28, 28);
    display: flex;
    align-items: center;
}

.text {
    height: 558px;

    >div:nth-child(1) {
        >h2 {
            font-family: "karla";
            font-size: 24px;
            font-weight: 500;
            line-height: 28.06px;
            text-align: left;
            text-underline-position: auto;
            text-decoration-skip-ink: none;
            color: #3DCFB6;
            margin-top: 0;
        }

        >h1 {
            font-family: "fira code";
            font-size: 64px;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: -0.03em;
            text-align: left;
            text-underline-position: auto;
            text-decoration-skip-ink: none;
            color: #3DCFB6;
            margin: 0;
            margin-bottom: 24px;
        }
    }

    >div:nth-child(2) {
        font-family: "fira code";
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: left;
        text-underline-position: auto;
        text-decoration-skip-ink: none;
        color: #3DCFB6;

        >div:nth-child(1) {
            font-family: "fira code";
            font-size: 24px;
            font-weight: 700;
            line-height: 28.8px;
            text-align: left;
            text-underline-position: auto;
            text-decoration-skip-ink: none;
            color: #3DCFB6;
            width: 100%;
        }

        >p:nth-child(2) {
            font-family: "karla";
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            text-underline-position: auto;
            text-decoration-skip-ink: none;
            color: #ffffff;
            width: 568px;
        }

        >p:nth-child(3) {
            font-family: "karla";
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            text-underline-position: auto;
            text-decoration-skip-ink: none;
            color: #ffffff;

        }
    }
}

:host ::ng-deep .talk {
    color: #3DCFB6;
}

@media (max-width: 1200px) {
    .contact-me {
        justify-content: center;
    }

    .text {
        height: unset !important;
        width: 568px;
    }
}

@media (max-width: 790px) {
    .contact-me {
        width: 100%;
        justify-content: unset;
    }

    .text {
        width: 90%;

        >div:nth-child(1) {
            width: 90%;

            >h2 {
                font-size: 18px;
            }

            >h1 {
                font-size: 56px;
                line-height: 56px;
            }
        }

        >div:nth-child(2) {
            width: 100%;
            margin-top: 24px;

            >p {
                width: unset !important;
            }
        }
    }
}

@media (max-width: 500px) {
    .text {
        >div:nth-child(1) {
            >h1 {
                font-size: 48px;
                line-height: 40px;
            }
        }
    }
}


@media (max-width: 423px) {
    .contact-me {
        justify-content: center;
    }

    .text {
        >div:nth-child(1) {
            width: 90%;

            >h2 {
                font-size: 18px;
            }

            >h1 {
                font-size: 40px;
                line-height: 40px;

            }
        }

        >div:nth-child(2) {
            >div:nth-child(1) {
                width: 100%;
                font-size: 14px;
            }

            >p:nth-child(3),
            >p:nth-child(2) {
                font-size: 14px;
            }
        }
    }
}