<div id="contact-me" class="contact-me">
    <div class="text">
        <div>
            <h2>{{ 'CONTACT_TITLE' | translate }}</h2>
            <h1>{{ 'CONTACT_SUBTITLE_1' | translate }}</h1>
            <h1>{{ 'CONTACT_SUBTITLE_2' | translate }}</h1>
        </div>
        <div>
            <div>
                <p>{{ 'CONTACT_QUESTION' | translate }}</p>
            </div>
            <p>{{ 'CONTACT_DESCRIPTION' | translate }}</p>
            <p [innerHTML]="'CONTACT_TALK' | translate"></p>
        </div>
    </div>
</div>
