<div class="contact-me">
    <div class="text">
        <div>
            <h2>Conatct me</h2>
            <h1>Let's work</h1>
            <h1>together</h1>
        </div>
        <div>
            <div>
                <p>Got a problem to solve?</p>
            </div>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
                your projects with my work.</p>
            <p>Need a Frontend developer?<span> Let's talk</span></p>
        </div>
    </div>
</div>