<div id="contact-me" class="contact-me">
    <div class="text">
        <div>
            <h2>{{ translate.translate('CONTACT_TITLE') }}</h2>
            <h1>{{ translate.translate('CONTACT_SUBTITLE_1') }}</h1>
        </div>
        <div>
            <div>
                <p>{{ translate.translate('CONTACT_QUESTION') }}</p>
            </div>
            <p>{{ translate.translate('CONTACT_DESCRIPTION') }}</p>
            <p [innerHTML]="translate.translate('CONTACT_TALK')"></p>
        </div>
    </div>
</div>
