<form class="formular" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>
  <div class="form">
    <div class="name">
      <div>
        <p>{{ translate.translate('FORM_NAME_LABEL') }}</p>
      </div>
      <input
        type="text"
        [placeholder]="translate.translate('FORM_NAME_PLACEHOLDER')"
        name="name"
        [(ngModel)]="contactData.name"
        required
        #name="ngModel"
      />
      <div *ngIf="name.touched && name.invalid" style="color:red;">
        {{ translate.translate('FORM_NAME_ERROR') }}
      </div>
    </div>
    <div class="email">
      <div>
        <p>{{ translate.translate('FORM_EMAIL_LABEL') }}</p>
      </div>
      <input
        type="email"
        [placeholder]="translate.translate('FORM_EMAIL_PLACEHOLDER')"
        name="email"
        [(ngModel)]="contactData.email"
        required
        email
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        #email="ngModel"
      />
      <div *ngIf="email.touched && email.invalid" style="color:red;">
        {{ translate.translate('FORM_EMAIL_ERROR') }}
      </div>
    </div>
    <div class="help">
      <div>
        <p>{{ translate.translate('FORM_MESSAGE_LABEL') }}</p>
      </div>
      <input
        type="text"
        [placeholder]="translate.translate('FORM_MESSAGE_PLACEHOLDER')"
        name="message"
        [(ngModel)]="contactData.message"
        required
        #message="ngModel"
      />
      <div *ngIf="message.touched && message.invalid" style="color:red;">
        {{ translate.translate('FORM_MESSAGE_ERROR') }}
      </div>
    </div>
    <div class="custom-checkbox-wrapper">
      <input
        type="checkbox"
        id="privacyChecked"
        name="privacyChecked"
        [(ngModel)]="privacyChecked"
        required
        #privacyCheckedField="ngModel"
      />
      <label for="privacyChecked" class="custom-checkbox"></label>
      <div>
        <p [innerHTML]="translate.translate('FORM_PRIVACY_TEXT')"></p>
        <div *ngIf="privacyCheckedField.touched && privacyCheckedField.invalid" style="color:red;">
          {{ translate.translate('FORM_PRIVACY_ERROR') }}
        </div>
      </div>
    </div>
    <div>
      <button type="submit" [disabled]="!contactForm.valid">{{ translate.translate('FORM_SUBMIT_BUTTON') }}</button>
    </div>
  </div>
</form>
