<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>
  <div class="form">
    <div class="name">
      <div>
        <p>{{ 'FORM_NAME_LABEL' | translate }}</p>
      </div>
      <input type="text" [placeholder]="'FORM_NAME_PLACEHOLDER' | translate" name="name" [(ngModel)]="contactData.name"
        required>
      <div *ngIf="contactForm.submitted && contactForm.controls['name']?.invalid" style="color:red;">
        {{ 'FORM_NAME_ERROR' | translate }}
      </div>
    </div>

    <div class="email">
      <div>
        <p>{{ 'FORM_EMAIL_LABEL' | translate }}</p>
      </div>
      <input type="email" [placeholder]="'FORM_EMAIL_PLACEHOLDER' | translate" name="email"
        [(ngModel)]="contactData.email" required email pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
      <div *ngIf="contactForm.submitted && contactForm.controls['email']?.invalid" style="color:red;">
        {{ 'FORM_EMAIL_ERROR' | translate }}
      </div>
    </div>

    <div class="help">
      <div>
        <p>{{ 'FORM_MESSAGE_LABEL' | translate }}</p>
      </div>
      <input type="text" [placeholder]="'FORM_MESSAGE_PLACEHOLDER' | translate" name="message"
        [(ngModel)]="contactData.message" required>
      <div *ngIf="contactForm.submitted && contactForm.controls['message']?.invalid" style="color:red;">
        {{ 'FORM_MESSAGE_ERROR' | translate }}
      </div>
    </div>

    <div>
      <input type="checkbox" name="privacyChecked" [(ngModel)]="privacyChecked" required>
      <div>
        <p [innerHTML]="'FORM_PRIVACY_TEXT' | translate"></p>
        <div *ngIf="contactForm.submitted && contactForm.controls['privacyChecked']?.invalid" style="color:red;">
          {{ 'FORM_PRIVACY_ERROR' | translate }}
        </div>
      </div>
    </div>

    <div>
      <button type="submit">{{ 'FORM_SUBMIT_BUTTON' | translate }}</button>
    </div>
  </div>
</form>