.bg-color {
    background: linear-gradient(0deg, rgba(28, 28, 28, 0) 13.56%, rgba(28, 28, 28, 0.6) 84.01%);
    height: 98px;
    display: flex;
    justify-content: center;
    width: 100%;
position: absolute;
}

.header {
    width: 1440px;
    border-left: 0px solid white;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 0px 96px;


    >div {
        display: flex;
        gap: 24px;

        >p {
            font-family: fira code;
            font-size: 20px;
            font-weight: 400;
            line-height: 26.24px;
            letter-spacing: -0.03em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #FFFFFF;
            position: relative;

            &:hover {
                cursor: pointer;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%);
                width: 6px;
                height: 6px;
                background-color: #3DCFB6;
                border-radius: 50%;
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            &:hover::after {
                opacity: 1;
            }
        }

    }
}

.language-switch {
    display: flex;
    gap: 10px;
    cursor: pointer;

    >div:nth-child(1) {
        >img:nth-child(1) {
            display: block;
        }

        >img:nth-child(2) {
            display: none;
        }
    }
}





.header-logo {
    display: flex;
    align-items: center;
    >img:nth-child(1) {
        width: 110px;
    }

    >img:nth-child(2) {
        width: 110px;
        display: none;
    }

    &.hover {
        >img:nth-child(1) {
            display: none;
        }

        >img:nth-child(2) {
            display: block;
        }
    }
}