.header {
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13.56%, rgba(0, 0, 0, 0.6) 84.01%);

    >div {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-left: 96px;
        margin-right: 96px;

        >p {
            font-family: fira code;
            font-size: 20px;
            font-weight: 400;
            line-height: 26.24px;
            letter-spacing: -0.03em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #FFFFFF;

            &:hover {
                color: #3DCFB6;
                cursor: pointer;
            }
        }

    }
}

.language-switch {
    width: 84px;
    height: 28px;

    &:hover {
        cursor: pointer;
    }
}



.header-logo {
    width: 132.14px;
    height: 48px;

    &:hover {
        cursor: pointer;
    }
}