<div class="portfolio-projects">
    <div>
        <h2>Portfolio</h2>
        <h1>Featured Projects</h1>
    </div>
    <div>
        <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
    </div>
    <div class="projects">
        <div class="single-project-join">
            <div>
                <p>Join</p>
            </div>
            <div>
                Angular <span class="separator">|</span>
                Typescript <span class="separator">|</span>
                HTML <span class="separator">|</span>
                CSS <span class="separator">|</span>
                Firebase
            </div>
        </div>
        <div class="single-project-game">
            <div>
                <p>El Pollo Loco</p>
            </div>
            <div>
                HTML <span class="separator">|</span>
                CSS <span class="separator">|</span>
                Javascript
            </div>
        </div>
        <div class="single-project-bubble">
            <div>
                <p>Join</p>
            </div>
            <div>
                Angular <span class="separator">|</span>
                Firebase <span class="separator">|</span>
                Typescript
            </div>
        </div>
    </div>
</div>