.bg-color {
    width: 100%;
    background-color: rgb(28, 28, 28);
    display: flex;
    justify-content: center;
}

.portfolio-projects {
    width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 96px 96px 0px 96px;

    .dialog-open {
        overflow: hidden !important;
        height: 100vh !important;
      }

    >div:nth-child(1) {
        h2 {
            color: #3DCFB6;
            font-family: "karla";
            font-size: 24px;
            font-weight: 700;
            margin: 0;
        }

        h1 {
            font-family: "fira code";
            font-size: 64px;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: -0.03em;
            text-align: left;
            text-underline-position: auto;
            text-decoration-skip-ink: none;
            color: #3DCFB6;
            margin: 32px 0px 32px 0px;
        }
    }

    >div:nth-child(2) {
        >p {
            width: 456px;
            height: 44px;
            font-family: "karla";
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: justify;
            text-underline-position: auto;
            text-decoration-skip-ink: none;
            color: #ffffff;
            padding: 0px 0px 32px 0px;
            margin: 0;
        }
    }

}

.hover-join {
    display: flex;
    justify-content: space-between;
    height: 110px;
}

.single-project-join {
    width: 70%;
    height: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3DCFB6;
    border-top: 1px solid #3DCFB6;

    &:hover {
        background-color: #2F5B53;
    }

    >div:nth-child(1) {
        >p {
            font-family: "fira code";
            font-size: 24px;
            font-weight: 700;
            color: #ffffff;
            margin: 0;
            padding: 40px 32px 40px 32px;
            text-align: justify;
        }
    }

    >div:nth-child(2) {
        font-family: "karla";
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        padding: 40px 32px 40px 32px;
        text-align: justify;
    }

    .separator {
        color: #3DCFB6;
    }
}

.hover-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.single-project-game {
    width: 70%;
    height: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3DCFB6;

    &:hover {
        background-color: #2F5B53;
    }

    >div:nth-child(1) {
        >p {
            font-family: "fira code";
            font-size: 24px;
            font-weight: 700;
            color: #ffffff;
            margin: 0;
            padding: 40px 32px 40px 32px;
            text-align: justify;
        }
    }

    >div:nth-child(2) {
        font-family: "karla";
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        padding: 40px 32px 40px 32px;
        text-align: justify;
    }

    .separator {
        color: #3DCFB6;
    }
}

.single-project-bubble {
    width: 880px;
    height: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3DCFB6;
    border-top: 1px solid #3DCFB6;

    &:hover {
        background-color: #2F5B53;
    }

    >div:nth-child(1) {
        >p {
            font-family: "fira code";
            font-size: 24px;
            font-weight: 700;
            color: #ffffff;
            margin: 0;
            padding: 40px 32px 40px 32px;
            text-align: justify;
        }
    }

    >div:nth-child(2) {
        font-family: "karla";
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        padding: 40px 32px 40px 32px;
        text-align: justify;
    }

    .separator {
        color: #3DCFB6;
    }
}

.projects {
    cursor: pointer;

    .hover-join img,
    .hover-game img {
        display: none;
        margin-left: 40px;
    }

    .single-project-join:hover+div img,
    .single-project-game:hover+div img {
        display: block;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.dialog-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    color: #fff;
    border-radius: 30px;
    border: 1px solid #3DCFB6;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 480px;
    height: 474px;

    >div:nth-child(1) {
        width: 480px;
        height: 175px;

        >h1 {
            font-family: Karla;
            font-size: 128px;
            font-weight: 700;
            line-height: 100px;
            letter-spacing: -0.02em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #3DCFB6;
        }

        >h2 {
            font-family: Fira Code;
            font-size: 64px;
            font-weight: 700;
            line-height: 51.2px;
            letter-spacing: -0.03em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #ffffff;
        }
    }

    >div:nth-child(2) {
        width: 480px;

        >h3 {
            font-family: Fira Code;
            font-size: 24px;
            font-weight: 700;
            line-height: 28.8px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #3DCFB6;
        }

        >p {
            font-family: Karla;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }

        div {
            display: flex;
            justify-content: space-between;

            >div:nth-child(1),
            >div:nth-child(2),
            >div:nth-child(3),
            >div:nth-child(4),
            >div:nth-child(5) {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }

    >div:nth-child(3) {
        width: 304px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >button {
            width: 130px;
            height: 48px;
            padding: 0px 24px 0px 24px;
            gap: 10px;
            border-radius: 100px;
            border: 1px solid #FFFFFF;
            background: none;
            color: #FFFFFF;
            transition: transform 0.3s ease;

            &:hover {
                border: 1px solid #3DCFB6;
                color: #3DCFB6;
                cursor: pointer;

                img {
                    transform: translate(5px, -5px);
                }
            }

            >img {
                transition: transform 0.3s ease;
                margin-left: 8px;
            }
        }
    }
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 474px;
    width: 520px;

    .close-button {
        background: url("./../../../assets/img/project/close_small.png") no-repeat center;
        background-size: contain;
        border: none;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: background-image 0.3s ease;

        &:hover {
            background-image: url("./../../../assets/img/project/close_green.png");
        }
    }



    >img {
        width: 100%;
    }

    >div {
        width: 151px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        
        &:hover {
            cursor: pointer;

            p {
                color: #ffffff; 
                transition: transform 0.3s ease;
            }

            img {
                transform: translateX(5px); 
                transition: transform 0.3s ease;
            }
        }
    }

    p {
        margin: 0;
        color: #3dcfb6;
        display: flex;
    }

    img {
        margin-left: 8px;
    }

}

@media (max-width: 1200px) {
    .projects {

        .single-project-join:hover+div img,
        .single-project-game:hover+div img {
            display: none;
        }
    }

    .portfolio-projects {
        width: 568px;
        padding-top: 40px;

        >div:nth-child(1) {
            >h1 {
                margin: 8px 0px 32px 0px;
            }
        }
    }

    .single-project-join {
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;

        >div:nth-child(1) {
            >p {
                padding: 0;
            }
        }

        >div:nth-child(2) {
            padding: 0;
            padding-top: 16px;
        }
    }

    .single-project-game {
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;

        >div:nth-child(1) {
            >p {
                padding: 0;
            }
        }

        >div:nth-child(2) {
            padding: 0;
            padding-top: 16px;
        }
    }


    .dialog-container {
        width: 320px;
        padding: 16px;
    }

    .dialog-content {
        width: 100%;
        flex-direction: column-reverse;
        gap: unset;
    }

    .left-content {
        height: unset;
        width: unset;
        gap: unset;

        >div:nth-child(1) {
            height: unset;

            >h1 {
                font-family: Karla;
                font-size: 48px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: -0.02em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                margin: 0;
                margin-top: 24px;
            }

            >h2 {
                font-family: Fira Code;
                font-size: 32px;
                font-weight: 700;
                line-height: 44.8px;
                letter-spacing: -0.03em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }
        }

        >div:nth-child(2) {
            >div {
                width: 320px;
                flex-wrap: wrap;
                gap: 8px 3px;

                >div:nth-child(1),
                >div:nth-child(2),
                >div:nth-child(3),
                >div:nth-child(4),
                >div:nth-child(5) {
                    gap: 4px;
                    font-size: 12px;
                }
            }

            >h3 {
                font-family: Fira Code;
                font-size: 16px;
                font-weight: 700;
                line-height: 0px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }

            >p {
                font-size: 12px;
                width: 320px;
                line-height: 14px;
            }
        }

        >div:nth-child(3) {
            margin-bottom: 48px;
            margin-top: 24px;
            width: unset;
        }
    }

    .right-content {
        width: unset;
        height: unset;

        >div {
            position: absolute;
            bottom: 8px;
            right: 16px;

        }

        >img {
            margin: 0;
        }

        .close-button {
            margin: 16px 8px 16px 16px;
            width: 16px;
            height: 16px;
        }
    }
}

@media (max-width: 790px) {
    .portfolio-projects {
        width: 100%;
        padding: 40px 16px;

        >div:nth-child(1) {
            width: 250px;

            >h1 {
                font-size: 56px;
            }

            >h2 {
                font-size: 18px;
            }
        }

        >div:nth-child(2) {
            >p {
                width: 320px;
                font-size: 16px;
            }
        }
    }

    .dialog-container {
        width: 250px;
        padding: 8px;
    }

    .dialog-content {
        width: 100%;
        flex-direction: column-reverse;
        gap: unset;
    }

    .left-content {
        height: unset;
        width: unset;
        gap: unset;

        >div:nth-child(1) {
            height: unset;

            >h1 {
                font-family: Karla;
                font-size: 32px;
                font-weight: 700;
                line-height: 8px;
                letter-spacing: -0.02em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                margin: 0;
                margin-top: 24px;
            }

            >h2 {
                font-family: Fira Code;
                font-size: 24px;
                font-weight: 700;
                line-height: 44.8px;
                letter-spacing: -0.03em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }
        }

        >div:nth-child(2) {
            >div {
                width: 250px;
                flex-wrap: wrap;
                gap: 4px 3px;

                >div:nth-child(1),
                >div:nth-child(2),
                >div:nth-child(3),
                >div:nth-child(4),
                >div:nth-child(5) {
                    gap: 4px;
                    font-size: 12px;

                    >img {
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            >h3 {
                font-family: Fira Code;
                font-size: 12px;
                font-weight: 700;
                line-height: 0px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }

            >p {
                font-size: 10px;
                width: 250px;
                line-height: 14px;
            }
        }

        >div:nth-child(3) {
            margin-bottom: 48px;
            margin-top: 24px;
            width: unset;
            justify-content: space-around;

            >button {
                width: 100px;
                height: 40px;
                padding: 0px 12px 0px 12px;
                gap: 10px;
                font-size: 12px;
            }
        }
    }

    .right-content {
        width: unset;
        height: unset;

        >div {
            position: absolute;
            bottom: 8px;
            right: 16px;

        }

        >img {
            margin: 0;
        }

        .close-button {
            margin: 16px 8px 16px 16px;
        }
    }
}

@media (max-width: 375px) {
    .portfolio-projects {
        >div:nth-child(1) {
            >h1 {
                font-size: 40px;
                line-height: 40px;
                margin: 8px 0px 24px 0px;
            }
        }

        >div:nth-child(2) {
            >p {
                width: 250px;
                font-size: 14px;
            }
        }

        .single-project-game,
        .single-project-join {
            >div:nth-child(2) {
                font-size: 13px;
            }
        }


    }
}