<div class="bg-color">
    <div id="projects" class="portfolio-projects">
      <div>
        <h2>{{ translate.translate('PROJECTS_TITLE') }}</h2>
        <h1>{{ translate.translate('PROJECTS_SUBTITLE') }}</h1>
      </div>
      <div>
        <p>{{ translate.translate('PROJECTS_INTRO') }}</p>
      </div>
      <div class="projects">
        <div class="hover-join" (click)="openDialog(projects[0])">
          <div class="single-project-join">
            <div>
              <p>{{ projects[0].title }}</p>
            </div>
            <div>
              Angular <span class="separator">|</span> TypeScript <span class="separator">|</span> HTML <span class="separator">|</span> CSS <span class="separator">|</span> Firebase
            </div>
          </div>
          <div>
            <img src="./../../../assets/img/project/join.png" alt="Join Project">
          </div>
        </div>
        <div class="hover-game" (click)="openDialog(projects[1])">
          <div class="single-project-game">
            <div>
              <p>{{ projects[1].title }}</p>
            </div>
            <div>
              HTML <span class="separator">|</span> CSS <span class="separator">|</span> JavaScript
            </div>
          </div>
          <div>
            <img class="el-pollo" src="./../../../assets/img/project/el-pollo.png" alt="El Pollo Loco">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay" *ngIf="isDialogOpen" (click)="closeDialog()">
    <div class="dialog-container" (click)="$event.stopPropagation()">
      <div class="dialog-content">
        <div class="left-content">
          <div>
            <h1>0{{ currentProject?.id }}</h1>
            <h2>{{ currentProject?.title }}</h2>
          </div>
          <div>
            <h3>{{ translate.translate('PROJECTS_WHAT') }}</h3>
            <p>{{ currentProject?.description }}</p>
            <div>
              <div *ngFor="let tech of currentProject?.technologies">
                <img [src]="'./../../../assets/img/project/' + tech.toLowerCase() + '.png'" alt="{{ tech }}">
                {{ tech }}
              </div>
            </div>
          </div>
          <div>
            <button (click)="goToLink(currentProject.githubLink)">
              {{ translate.translate('PROJECTS_GITHUB') }}
              <img src="./../../../assets/img/project/arrow_outward _green.png">
            </button>
            <button (click)="goToLink(currentProject.liveLink)">
              {{ translate.translate('PROJECTS_LIVE') }}
              <img src="./../../../assets/img/project/arrow_outward _green.png">
            </button>
          </div>
        </div>
        <div class="right-content">
          <button class="close-button" (click)="closeDialog()"></button>
          <img [src]="currentProject?.image" alt="{{ currentProject?.title }}" class="project-image">
          <div (click)="nextProject(); $event.stopPropagation()">
            <p>{{ translate.translate('PROJECTS_NEXT') }}</p>
            <img src="./../../../assets/img/project/arrow_forward.png" alt="Next">
          </div>
        </div>
      </div>
    </div>
  </div>
  