<div class="bg-color">
    <div id="about-me" class="about-me">
        <div class="image-container" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
            <img src="/assets/img/about-me/hover.png" alt="">
            <img src="/assets/img/about-me/me-grey.JPG" alt="">
        </div>
        <div class="text-container">
            <div>
                <h3>{{ translate.translate('WHO_I_AM') }}</h3>
            </div>
            <div class="about-me-description">
                <p>{{ translate.translate('ABOUT_ME') }}</p>
                <p>{{ translate.translate('ABOUT_ME_DESC1') }}</p>
                <p>
                    <img src="/assets/img/about-me/location_on.png" alt="">
                    {{ translate.translate('ABOUT_ME_DESC2') }}
                </p>
                <p>
                    <img src="/assets/img/about-me/cognition.png" alt="">
                    {{ translate.translate('ABOUT_ME_DESC3') }}
                </p>
                <p>
                    <img src="/assets/img/about-me/new_releases.png" alt="">
                    {{ translate.translate('ABOUT_ME_DESC4') }}
                </p>
            </div>
        </div>
    </div>
</div>
