<div class="bg-color">
    <div id="about-me" class="about-me">
        <div class="image-container" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
            <img src="/assets/img/about-me/hover.png" alt="">
            <img src="/assets/img/about-me/me-grey.JPG" alt="">
        </div>
        <div class="text-container">
            <div>
                <h3>{{ 'WHO_I_AM' | translate }}</h3>
            </div>
            <div class="about-me-description">
                <p>{{ 'ABOUT_ME' | translate }}</p>
                <p>{{ 'ABOUT_ME_DESC1' | translate }}</p>
                <p>
                    <img src="/assets/img/about-me/location_on.png" alt="">
                    {{ 'ABOUT_ME_DESC2' | translate }}
                </p>
                <p>
                    <img src="/assets/img/about-me/cognition.png" alt="">
                    {{ 'ABOUT_ME_DESC3' | translate }}
                </p>
                <p>
                    <img src="/assets/img/about-me/new_releases.png" alt="">
                    {{ 'ABOUT_ME_DESC4' | translate }}
                </p>
            </div>
        </div>
    </div>
</div>
