.about-me {
    height: 100vh;
    background-color: rgb(28, 28, 28);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 96px;
    padding-left: 96px;

    .image-container {
        display: flex;
        height: 708px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 708px;
    }

    div:nth-child(1) {
        img {
            width: 568px;
            height: 568px;
            border-radius: 30px;
        }
    }

    div:nth-child(2) {
        h3 {
            font-family: "karla";
            font-size: 24px;
            font-weight: 500;
            color: #3DCFB6;
            margin-top: 0;

        }

    }
}


.about-me-description {
    width: 568px;
    height: 562px;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    background-color: rgb(32, 47, 44);
    color: #3DCFB6;
    display: flex;
    flex-direction: column;

    >p:nth-child(1) {
        font-family: Fira Code;
        font-size: 64px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -0.03em;
        text-align: left;        
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin: 0;
        padding: 32px 0px 32px 32px;
    }

    >p:nth-child(2) {
        font-family: "karla";
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        padding: 0px 32px 32px 32px;
        text-align: justify;
    }

    >p:nth-child(3),
    >p:nth-child(4) {
        font-family: "karla";
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        display: flex;
        align-items: flex-start;
        gap: 24px;
        margin: 0;
        padding: 0px 32px 24px 32px;
    }

    >p:nth-child(5) {
        font-family: "karla";
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        display: flex;
        align-items: flex-start;
        text-align: justify;
        gap: 24px;
        margin: 0;
        padding: 0px 32px 32px 32px;
    }


}