<div class="bg-color">
    <div id="skills" class="skills">
        <div class="text-container">
            <div>
                <h3>{{ 'SKILLS_TITLE' | translate }}</h3>
            </div>
            <div class="skill-description">
                <p>{{ 'SKILLS_DESCRIPTION' | translate }}</p>

                <p>{{ 'SKILLS_INTRO' | translate }}</p>

                <p [innerHTML]="'SKILLS_ASK' | translate"></p>

                <p>{{ 'SKILLS_CONTACT' | translate }}</p>

                <button (click)="scrollToSection('contact-me')">{{ 'SKILLS_BUTTON' | translate }}</button>
            </div>
        </div>
        <div class="skill-icons">
            <div *ngFor="let skill of skillData" class="skill-icon">
                <img [src]="skill.icon" alt="{{ skill.description }} Icon" />
                <p>{{ skill.description }}</p>
            </div>
        </div>
    </div>
</div>
