.bg-color {
    width: 100%;
    display: flex;
    justify-content: center;
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);
}

.skills {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 96px 0px 96px;
    gap: 40px;

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 503px;
        width: 568px;
    }

    div:nth-child(1) {
        h3 {
            font-family: "karla";
            font-size: 24px;
            font-weight: 500;
            color: #3DCFB6;
            margin-top: 0;
        }
    }

    .skill-icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0px 72px;
        justify-content: center;
        align-items: center;
        height: 503px;
        width: 568px;

        .skill-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            border-radius: 8px;
            transition: transform 0.3s;
            height: 116px;
        }

        img {
            width: 60px;
            height: auto;
            margin-bottom: 10px;

            &:hover {
                transform: scale(1.1);
            }
        }

        p {
            font-family: "fira code";
            font-size: 14px;
            color: #FFFFFF;
            margin: 0;
            text-align: center;
        }
    }
}

.skill-icons {
    .skill-icon {
        position: relative;

        .popup-image {
            display: none;
            position: absolute;
            bottom: 70%;
            left: 94%;
            transform: translateX(-50%);
            width: 220px;
            z-index: 1000;
            pointer-events: none;
        }

        &:hover .popup-image {
            display: block;
        }

        &.growth-mindset:hover p {
            color: #3DCFB6;
        }
    }
}

.skill-description {
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    background-color: rgb(32, 47, 44);
    color: #3DCFB6;
    display: flex;
    flex-direction: column;
    padding: 32px 32px 32px 32px;

    >p:nth-child(1) {
        font-family: Fira Code;
        font-size: 64px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -0.03em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin: 0;
        padding-bottom: 32px;

    }

    >p:nth-child(2) {
        font-family: "karla";
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: justify;
        text-underline-position: auto;
        text-decoration-skip-ink: none;
        color: #ffffff;
        margin: 0;
        padding-bottom: 32px;
    }

    >p:nth-child(3) {
        font-family: "fira code";
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: left;
        text-decoration-skip-ink: none;
        color: #ffffff;
        margin: 0;
        padding-bottom: 32px;

    }
    
    >p:nth-child(4) {
        font-family: "karla";
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        text-underline-position: auto;
        text-decoration-skip-ink: none;
        color: #ffffff;
        margin: 0;
        padding-bottom: 32px;
    }
    
    >button {
        width: 40%;
        height: 48px;
        padding: 24px;
        gap: 10px;
        border-radius: 100px;
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover {
            color: #3DCFB6;
            border: 1px solid #3DCFB6;
            cursor: pointer;
        }
    }
}

:host ::ng-deep .highlight {
    color: #3DCFB6;
    font-weight: 700;
}

@media (max-width: 1200px) {
    .skills {
        flex-direction: column;
    }

    .skill-icons {
        gap: unset !important;
    }
}

@media (max-width: 790px) {
    .skills {
        flex-direction: column;
        padding: 0px 16px !important;
        width: 100%;

        div:nth-child(1) {
            h3 {
                font-size: 18px;
            }
        }
    }

    .skill-icons {
        width: 100% !important;
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .text-container {
        width: 100% !important;
        height: unset !important;
    }

    .skill-description {
        >p:nth-child(1) {
            font-size: 56px !important;
        }

        >p:nth-child(2) {
            font-size: 16px;
        }

        >p:nth-child(3) {
            font-size: 20px;
        }
    }
}

@media (max-width: 375px){
    .skill-description {
        >p:nth-child(1) {
            font-size: 40px !important;
            padding-bottom: 0;
        }

        >p:nth-child(2) {
            font-size: 13px;
        }

        >p:nth-child(3) {
            font-size: 14px;
            padding-bottom: 0;
        }
       
        >p:nth-child(4) {
            font-size: 13px;
        }
    }
}