<div class="legal">
    <div><app-header></app-header></div>
    <div>
        <div routerLink=""><img src="./../../assets/img/imprint/arrow_back.png" alt=""></div>
        <div>
            <h1>{{ 'PRIVACY_TITLE' | translate }}</h1>

            <h2>{{ 'PRIVACY_OVERVIEW' | translate }}</h2>

            <h3>{{ 'PRIVACY_GENERAL' | translate }}</h3>
            <p>{{ 'PRIVACY_GENERAL_DESC' | translate }}</p>

            <h3>{{ 'PRIVACY_DATA_COLLECTION' | translate }}</h3>

            <h4>{{ 'PRIVACY_RESPONSIBILITY' | translate }}</h4>
            <p>{{ 'PRIVACY_RESPONSIBILITY_DESC' | translate }}</p>

            <h4>{{ 'PRIVACY_HOW_WE_COLLECT' | translate }}</h4>
            <p>{{ 'PRIVACY_HOW_WE_COLLECT_DESC_1' | translate }}</p>
            <p>{{ 'PRIVACY_HOW_WE_COLLECT_DESC_2' | translate }}</p>

            <h4>{{ 'PRIVACY_USAGE' | translate }}</h4>
            <p>{{ 'PRIVACY_USAGE_DESC' | translate }}</p>

            <h4>{{ 'PRIVACY_RIGHTS' | translate }}</h4>
            <p class="last">{{ 'PRIVACY_RIGHTS_DESC' | translate }}</p>
        </div>
    </div>
    <div><app-footer></app-footer></div>
</div>
