.bg-color{
width: 100%;
background-color: rgb(28, 28, 28);
display: flex;
justify-content: center;
margin: 0;
}

.contact{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    padding: 96px 96px 96px 96px;
}

@media (max-width: 1200px) {
    .contact{
        flex-direction: column;
        width: 100%;
        padding: 96px 16px 96px 16px;
    }
}