<div class="imprint">
    <div><app-header></app-header></div>

    <div>
        <div routerLink=""><img src="./../../assets/img/imprint/arrow_back.png" alt=""></div>
        <div>
            <h1>Imprint</h1>
            <p>Kenan Günes</p>
            <p>Conderstraße 18</p>
            <p>56727 Mayen</p>
            <p>E-Mail: <a href="mailto:gunes.kenan93@gmail.com">gunes.kenan93&#64;gmail.com</a></p>
            <p>Telefon: <a href="">+49 1736902096</a></p>
        </div>
    </div>
    <div><app-footer></app-footer></div>
</div>