<div class="bg-color">
    <div class="footer">
        <div>
            <img src="/assets/img/header/logo.png" alt="">
            <p>{{ translate.translate('FOOTER_ROLE') }}</p>
            <p>{{ translate.translate('FOOTER_LOCATION') }}</p>
        </div>
        <div>
            <p>{{ translate.translate('FOOTER_COPYRIGHT') }}</p>
        </div>
        <div>
            <a href="">{{ translate.translate('FOOTER_GITHUB') }}</a>
            <a href="">{{ translate.translate('FOOTER_LINKEDIN') }}</a>
            <a href="">{{ translate.translate('FOOTER_EMAIL') }}</a>
            <a href="">{{ translate.translate('FOOTER_LEGAL_NOTICE') }}</a>
        </div>
    </div>
    <div class="footer-mobile">
        <div>
            <div>
                <img src="/assets/img/header/logo.png" alt="">
                <p>{{ translate.translate('FOOTER_ROLE') }}</p>
                <p>{{ translate.translate('FOOTER_LOCATION') }}</p>
            </div>
            <div>
                <a >{{ translate.translate('FOOTER_GITHUB') }}</a>
                <a >{{ translate.translate('FOOTER_LINKEDIN') }}</a>
                <a >{{ translate.translate('FOOTER_EMAIL') }}</a>
                <a [routerLink]="'/imprint'">{{ translate.translate('FOOTER_LEGAL_NOTICE') }}</a>
            </div>
        </div>
        <div>
            <p>{{ translate.translate('FOOTER_COPYRIGHT') }}</p>
        </div>
    </div>
</div>