<div class="bg-color">
    <div class="footer">
        <div>
            <img src="/assets/img/header/logo.png" alt="">
            <p>{{ 'FOOTER_ROLE' | translate }}</p>
            <p>{{ 'FOOTER_LOCATION' | translate }}</p>
        </div>
        <div>
            <p>{{ 'FOOTER_COPYRIGHT' | translate }}</p>
        </div>
        <div>
            <a href="">{{ 'FOOTER_GITHUB' | translate }}</a>
            <a href="">{{ 'FOOTER_LINKEDIN' | translate }}</a>
            <a href="">{{ 'FOOTER_EMAIL' | translate }}</a>
            <a href="">{{ 'FOOTER_LEGAL_NOTICE' | translate }}</a>
        </div>
    </div>
    <div class="footer-mobile">
        <div>
            <div>
                <img src="/assets/img/header/logo.png" alt="">
                <p>{{ 'FOOTER_ROLE' | translate }}</p>
                <p>{{ 'FOOTER_LOCATION' | translate }}</p>
            </div>
            <div>
                <a href="">{{ 'FOOTER_GITHUB' | translate }}</a>
                <a href="">{{ 'FOOTER_LINKEDIN' | translate }}</a>
                <a href="">{{ 'FOOTER_EMAIL' | translate }}</a>
                <a href="">{{ 'FOOTER_LEGAL_NOTICE' | translate }}</a>
            </div>
        </div>
        <div>
            <p>{{ 'FOOTER_COPYRIGHT' | translate }}</p>
        </div>
    </div>
</div>
